<form name="form" role="form" class="form-horizontal">
    <fieldset>
        <legend>Inputs</legend>

        <div class="form-group" ng-class="{'has-error': form.text.$invalid}">
            <label for="text" class="control-label col-sm-3">Text</label>
            <div class="col-sm-9">
                <textarea id="text" name="text" ng-model="stringToCode.text"
                    required
                    class="form-control" style="font-family: Consolas, 'Courier New', Lucida"
                    rows="15" cols="100" />
                <div ng-messages="form.text.$error" class="help-block">
                    <span ng-message="required">Required</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="option" class="control-label col-sm-3">Generation option</label>
            <div class="col-sm-5">
                <select id="option" name="option" ng-model="stringToCode.selectedOption" class="form-control">
                    <option ng-repeat="(key, value) in stringToCode.options"
                        value="{{key}}">{{value.description}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label form="indent" class="control-label col-sm-3">Indentation</label>
            <div class="col-sm-1">
                <input ng-model="stringToCode.indent" type="number" class="form-control" />
            </div>
        </div>

        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" ng-click="stringToCode.generate()">Generate</button>
        </div>
    </fieldset>

    <br/>

    <fieldset>
        <legend>Results</legend>
        <div class="form-group">
            <textarea ng-model="stringToCode.result" readonly class="form-control" style="font-family: Consolas, 'Courier New', Lucida"
                rows="15" cols="100" />
        </div>
    </fieldset>
</form>